
body {
    /* word-spacing:1.5px; */
    background-color: #FFFFFF;
    margin: 0em;
    color : #484848;
}
h1 {
    text-align   :center;
    font-size    : 1.25em;
    margin-top   : 1.9em;
    margin-bottom: 0.3em;
}
h2 {
    font-size    : 1.20em;
    margin-top   : 1.25em;
    margin-bottom: 0.3em;
}
h3, h4, h5, h6 {
    font-size    : 1.10em;
    margin-top   : 1.20em;
    margin-bottom: 0.3em;
}

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
    /*
      background-color: #eee;
      padding: 2px;
      border: 1px solid #ccc;
   */
    color: #888888
}

ul {
    margin: 0;
}
div#content {
    background-color: #F8F8F8;
    border-left  : none;
    border-right : none;


    /* letter-spacing: 0.075em; */
    line-height: 1.4;
    margin: 0em auto;
    padding: 2em;
    width: 45em;

    font-family: Bitter, "Open Sans", Roboto, Courier New, Microsoft YaHei;
    font-size  : 0.9em;
}

div#postamble p, div#postamble a {
    line-height: 1.0em;
    font-family: Courier New;
    font-size  : 0.85em;

    text-decoration:none;
    text-align     : center;
    color          : #909090;
}

div#text-table-of-contents {
    font-size: 0.9em;
    /*
    border-bottom : 4px solid #AAAAAA;
    margin-bottom : 3em;
   */
    padding-bottom: 1em
}

div#text-table-of-contents a {
    color: #808080;
    text-decoration:none;
}

img {
  max-width:100%;
  height: auto;
  border: 1px dashed #000000;
}

.figure {
    text-align: center;
}

.example {
    padding: 1em;
    padding-left: 1em;
    margin : 1em;
    font-family: Courier New;
    font-size  : 0.8em;
    border: 1px dashed #bb0000;
    border-radius: 8px;
}

.src {
    color : #cccccc;
    background-color: #333333;
    padding: 1em;
    padding-left: 1em;
    margin : 1em;
    line-height: 150%;
    /*
    font-family: Bitter;
    font-size  : 0.8em;
    */
    border: 1px dashed #bb0000;
    border-radius: 8px;
}

div#org-div-home-and-up {
    position: fixed;
    font-size: 0.8em;
    font-family: bitter;
    text-align: right;
    background: white;
    box-shadow: 0 0 1em #777777;
    -webkit-box-shadow: 0 0 1em #777777;
    -moz-box-shadow: 0 0 1em #777777;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    padding: 0.8em;
}

@media print
{
    #org-div-home-and-up {
	display:none;
    }
} 

@media screen
{
    #org-div-home-and-up {
	float: left;
	border: 1px solid #CCC;
	max-width: 80%; 
	overflow: auto;
    }
}
